* {
    margin: 0px;
    padding: 0px;
    font-family: 'Actor', sans-serif;
}

body {
    font-size: 16px;
    background-color: #F3F3F3;
}

.mobile{
    display: none;
}

.desktop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav{
    width: 290px;
    height: 100%;
    background: var(--White, #FFF);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    width: calc(100% - 290px);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav > .logo{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 1em 1em;
}

nav > .logo img{
    height: 10vh;
    transform: scale(0.7);
}

nav > .logo p{
    color: var(--fuenteClaro, #363D4E);
    font-size: 2em;
}

.chosen{
    line-height: 2em;
    border-style: solid;
    border-color: #52b6e9;
    background-color: #52b6e9;
}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    font-size: 1.25em;
    color: #363D4E;
}

li i {
    font-size: 1.25em;
}

.button{
    margin-left: 1.5em;
    text-align: left;
    letter-spacing: 1px;
    padding: 0.2em;
    color: #363D4E;
    width: 70%;
}

ul{
    list-style-type: none;
    height: 100%;
    position: relative;
}

li:nth-last-child(3) {
    position: absolute;
    bottom: 7em;
    width: 100%;
}

li:nth-last-child(2) {
    position: absolute;
    bottom: 4em;
    width: 100%;
}

.userID {
    position: absolute;
    left: 2em;
    bottom: 1em;

    font-size: 0.8em;
    margin-left: 0.5em;
    text-align: left;
    padding: 0.2em;
    color: #6c7383;
    width: 50%;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1em 2em;
}

header > .search_bar{
    position: relative;
    margin: 0 1em;
}

header > .search_bar > input{
    border-radius: 1em;
    background-color: #FFFFFF;
    border: #FFFFFF;
    width: 25em;
    font-size: 1em;
    padding: 0.7em;
}

header > .search_bar > i {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
}

main > p{
    font-size: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
}


section{
    display: flex;
    flex-direction: column;
    padding: 2em 4em;
    width: 80%;
    line-height: 2em;

    overflow-y: auto;
    max-height: 66vh;
}

.reservation{
    display: flex;
    padding: 0.5em 0;
    flex-direction: row;
    background-color: white;
    border-radius: 1em;
    margin-bottom: 1em;
    line-height: 1.8em;
}

.reservation > img {
    align-self: center;
    margin: 0 1em;
    height: 25%;
    width: 10%;
    object-fit: fill;
}

.reservation > .info{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex: 1;
}

.reservation > .info > p{
    margin-right: 1em;
}





















/*##########################################################################################################################################*/











